<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Register</title>
</head>
<body>
    <div class="bg-zinc-900 w-screen h-screen text-white p-10">
        <h1 class="text-5xl mb-16 font-semibold">Register User</h1>
        <form action="/register" method="post" class="mb-5">
            <input class="bg-zinc-700 outline-none mr-4 px-4 py-1 rounded" type="text" name="username" placeholder="Enter your username" required>
            <input class="bg-zinc-700 outline-none mr-4 px-4 py-1 rounded" type="text" name="fullname" placeholder="Enter your full name" required>
            <input class="bg-zinc-700 outline-none mr-4 px-4 py-1 rounded" type="number" name="age" placeholder="Enter your age" required>
            <input class="bg-zinc-700 outline-none mr-4 px-4 py-1 rounded" type="email" name="email" placeholder="Enter your email" required>
            <input class="bg-zinc-700 outline-none mr-4 px-4 py-1 rounded" type="password" name="password" placeholder="Enter your password" required>
            <input class="bg-blue-500 outline-none mr-4 px-6 py-1 rounded" type="submit" value="Submit">
        </form>
        <a href="/login" class="text-blue-500"><span class="text-white">Already a user?</span> Login</a>
        <% if(errorMessage){ %>
            <p class="text-red-500 mt-5"><%= errorMessage %> is already present.</p>
        <% } %>
    </div>
</body>
</html>